<h1>Comments#index</h1>
<p>Find me in app/views/comments/index.html.erb</p>

<h2>コメント一覧</h2>
<% @comments.each do |comment| %>
<ul>
  <li><%= link_to(comment.title, comment_path(comment.id)) %></li>
</ul>
<% end %>